* {
  box-sizing: border-box;
}

#gif {
  width: 2rem;
}

#hero img {
  height: 60vh;
}

nav img {
  width: 2rem;
  height: 2rem;
}

#background-website {
  background-color: #e0ecf5;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 3rem 0;
}

.social-icons a {
  font-size: 1.25rem;
}
