#card-section img {
  max-width: 4rem;
}

.pet-switch img {
  max-width: 4rem;
  max-height: 4rem;
}

.icon-descr-pet img {
  max-width: 2rem;
  max-height: 2rem;
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .name-pet {
    font-size: 2rem;
  }
}

#pet-section {
  height: 60vh;
}

#card-section {
  height: 60vh;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 3rem 0;
}

.social-icons a {
  font-size: 1.25rem;
}

.carousel-card-enter {
  opacity: 0;
  transform: translateX(100%);
}

.carousel-card-enter.active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}