#nav-pets,
#nav-pets .nav-item {
  height: 8vh;
}

.no-animal {
  height: 50vh;
}

.icon-descr-pet img {
  height: 2rem;
  width: 2rem;
}

.pet-picture {
  object-fit: cover;
  max-height: 20rem;
  width: 100%;
}
