{% extends 'base.html' %} {% block css_file %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/animal_descr_page.css') }}"
/>
{% endblock %} {% block content %}
<div
  class="container-fluid bg-primary min-vh-100 d-flex align-items-center justify-content-center"
>
  <div class="card p-4 rounded" style="max-width: 800px; width: 100%">
    <div class="row g-4 align-items-center justify-content-center">
      <!-- Info -->
      <div class="col-md-7 text-center">
        <h2 class="fw-bold text-secondary mb-2 tex">{{ fiche_animal.nom }}</h2>
        <p class="mb-1"><strong>Espèce :</strong> {{ fiche_animal.espece }}</p>
        <p class="mb-1"><strong>Race :</strong> {{ fiche_animal.race }}</p>
        <p class="mb-1"><strong>Âge :</strong> {{ fiche_animal.age }} ans</p>
        <p class="mb-3">
          <strong>Description :</strong><br />{{ fiche_animal.description }}
        </p>

        <a href="{{ url_for('index') }}" class="btn btn-outline-secondary mt-2">
          Retour voir les autres amis
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
