<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.custom.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    {% block css_file %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="bg-primary background" id="background-website">
      <div class="container-fluid">
        <img
          id="gif"
          src="{{ url_for('static', filename='images/icons/gif/cat.gif') }}"
          alt="Gif de chat"
        />
      </div>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg bg-light px-5 bg-between-p-s">
        <div class="container-fluid">
          <a href="{{ url_for('index') }}" class="navbar-brand">
            <img
              src="{{ url_for('static', filename='images/icons/house-pet.png') }}"
              alt="Maison"
              class="d-inline-block align-text-top"
            />
            <span>Patte<br />d'accueil</span>
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarNav"
          >
            <ul class="navbar-nav d-flex flex-row justify-content-center gap-5">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Rencontre ton BFF
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a
                      class="dropdown-item"
                      href="{{ url_for('page_adoption') }}"
                    >
                      Voir tous les amis
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="{{ url_for('page_recherche_avance')}}"
                    >
                      Recherche avancée
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item">
                <a href="{{ url_for('page_reloger') }}" class="nav-link"
                  >Reloger un animal</a
                >
              </li>
              <li class="nav-item">
                <a href="{{ url_for('page_contact') }}" class="nav-link"
                  >Jasons !</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>

      {% block content %} {% endblock %}
      <!-- Footer -->
      <footer>
        <div class="container justify-content-center align-items-center d-flex">
          <div class="row w-100 text-center">
            <div class="col-md-4">
              <h5>À propos de nous</h5>
              <p>
                Nous aimons les chats et c'est triste qu'il en ait aucun dans la
                database initiale
              </p>
            </div>
            <div class="col-md-4 justify-items-center">
              <h5>Liens rapides</h5>
              <ul class="list-unstyled">
                <li>
                  <a
                    href="{{ url_for('page_adoption') }}"
                    class="text-decoration-none text-white"
                    >Adoption</a
                  >
                </li>
                <li>
                  <a
                    href="{{ url_for('page_reloger') }}"
                    class="text-decoration-none text-white"
                    >Reloger</a
                  >
                </li>
                <li>
                  <a
                    href="{{ url_for('page_contact') }}"
                    class="text-decoration-none text-white"
                    >Contact</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Suis-nous!</h5>
              <ul class="list-inline social-icons">
                <li class="list-inline-item">
                  <a href="#" class="text-white"
                    ><i class="bi bi-twitter"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="text-white"
                    ><i class="bi bi-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
