{% extends 'base.html' %} {% block title %}Oupsie! Erreur{% endblock %} {% block
content %}
<div class="container-fluid text-center py-5 h-100">
  <h1 class="display-4 text-danger">Oupsie!</h1>
  <p class="lead">
    Il y a eu une petite erreur. Peut-être un chat a marché sur le clavier ?
    Haha
  </p>
  <p>Pas de panique, vous pouvez retourner au formulaire et réessayer.</p>
  <a href="{{ url_for('page_reloger') }}" class="btn btn-secondary mt-3">
    Retourner au formulaire
  </a>
</div>
{% endblock %}
