{% extends 'base.html' %} {% block css_file %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/formulaire-adoption.css')}}"
/>
{% endblock %} {% block title %}Formulaire d'adoption{% endblock %} {% block
content %}
<div class="form-and-descr container-md">
  <div class="row">
    <!-- Formulaire -->
    <div class="left-side-form col bg-light p-3 mt-3 mb-3 rounded">
      <form
        action="{{url_for('register_animal')}}"
        method="POST"
        class="form-adoption d-flex flex-column align-content-center needs-validation"
        id="form"
        novalidate
      >
        <!-- Nom, âge-->
        <div class="row g-3 align-items-end">
          <div class="col">
            <label for="petNameInput" class="form-label">Nom de l'animal</label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="petNameInput"
              placeholder="Nom de l'animal"
              minlength="3"
              maxlength="20"
              required
            />
            <div class="invalid-feedback custom-feedback">
              Nom entre 3 et 20 charactères
            </div>
            <div class="valid-feedback custom-feedback">Bien :D .</div>
          </div>

          <div class="col">
            <label for="petAgeInput" class="form-label">Âge de l'animal</label>
            <div class="input-group">
              <input
                name="age"
                type="number"
                class="form-control"
                id="petAgeInput"
                min="0"
                max="20"
                required
              />
              <div class="invalid-feedback custom-feedback">
                Âge entre 0 et 20 ans
              </div>
              <div class="valid-feedback custom-feedback">Bien :D .</div>
            </div>
          </div>
        </div>

        <!-- Race -->
        <div class="row">
          <div class="col">
            <label for="petRaceInput" class="form-label"
              >Race de l'animal</label
            >
            <input
              name="race"
              type="text"
              class="form-control"
              id="petRaceInput"
              required
            />
            <div class="invalid-feedback custom-feedback">
              Il faut mettre une race d'animal
            </div>
            <div class="valid-feedback custom-feedback">Bien :D .</div>
          </div>
        </div>

        <!-- Espèce -->
        <div class="row">
          <div class="col">
            <label for="petEspeceInput" class="form-label"
              >Espèce de l'animal</label
            >
            <input
              type="text"
              class="form-control"
              id="petEspeceInput"
              name="espece"
              required
            />
            <div class="invalid-feedback custom-feedback">
              Il faut mettre un espèce d'animal
            </div>
            <div class="valid-feedback custom-feedback">Bien :D .</div>
          </div>
        </div>

        <!-- Description-->
        <div class="row">
          <div class="col">
            <label for="petDescrInput" class="form-label"
              >Description de l'animal</label
            >
            <textarea
              name="description"
              class="form-control"
              id="petDescrInput"
              rows="3"
              placeholder="Écrivez une brève description de l'animal que vous souhaitez mettre en adoption"
              required
            ></textarea>
            <div class="invalid-feedback custom-feedback">
              Rajoutez une description
            </div>
            <div class="valid-feedback custom-feedback">Bien :D .</div>
          </div>
        </div>

        <!-- Courriel -->
        <div class="row">
          <div class="col">
            <label for="ownerEmailInput" class="form-label"
              >Email du donneur</label
            >
            <input
              name="email"
              type="email"
              class="form-control"
              id="ownerEmailInput"
              placeholder="exemple@courriel.com"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              required
            />
            <div class="invalid-feedback custom-feedback">
              Cet email est invalide
            </div>
            <div class="valid-feedback custom-feedback">Bien :D .</div>
          </div>
        </div>

        <!-- Adresse civique complète -->
        <div class="row">
          <div class="input-group"></div>
          <div class="col">
            <label for="streetInput" class="form-label">Adresse civique</label>
            <input
              name="address"
              type="text"
              class="form-control"
              id="streetInput"
              placeholder="1234 rue Exemple"
              required
            />
            <div class="invalid-feedback custom-feedback">
              Cette addresse civique est invalide
            </div>
          </div>

          <div class="col">
            <label for="cityInput" class="form-label">Ville</label>
            <input
              name="city"
              type="text"
              class="form-control"
              id="cityInput"
              placeholder="Montréal"
              required
            />
            <div class="invalid-feedback custom-feedback">
              Le nom de la ville est invalide
            </div>
            <div class="valid-feedback custom-feedback">Bien :D .</div>
          </div>

          <div class="col">
            <label for="postalCodeInput" class="form-label">Code postal</label>
            <input
              name="cp"
              type="text"
              class="form-control"
              id="postalCodeInput"
              placeholder="H2X 1Y4 or H2X1Y4"
              required
            />
            <div class="invalid-feedback custom-feedback">
              Code postal invalide
            </div>
            <div class="valid-feedback custom-feedback">Bien :D .</div>
          </div>
        </div>

        <!-- Submit -->
        <div class="mt-4 mx-auto">
          <button type="submit" class="btn btn-secondary">
            On s'occupe d'eux
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='js/formulaire_adoption.js')}}"></script>
{% endblock %}
